 body {
  min-width: 1200px;

 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
 font-family: "Cuprum", "Arial", sans-serif;
 color: #000000;

 background: #626262;
}
.clearfix::after {
   content: "";
   display: table;
   clear: both;

}
.header-top {
   background: #293449;
}
.header-top:hover {
   background: #212a3a;
}
.header-top:active {
   background: #293449;
}
.container-top {
   position: relative;
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 130px;
}
.container {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 130px;
   background: #f1f5f7;
}
.index-logo {
   position: absolute;
   top: 0;
   left: 130px;
   padding: 11px 55px;
   padding-bottom: 7px;
   font-size: 24px;
   line-height: 24px;
   color: #ffffff;
   text-transform: uppercase;
   background: #ee3643;
   border-bottom: 4px solid #b52933;
   z-index: 1;
}
.index-logo:hover {
   background: #ca2c37;
}
.index-logo:active {
   background: #ba2732;
}
.header-top .search-item {
  position: relative;
  float: left;
  width: 265px;
  margin-left: 220px;
}
.search-item .search a{
   display: block;
   padding-left: 49px;
   padding-top: 10px;
   padding-bottom: 9px;
   font-size: 17px;
   color: #ffffff;
   background: #293449;
   text-decoration: none;
}
.header-top .search-click {
   display: none;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 40px;
 }
 .header-top input[type=search] {
   box-sizing: border-box;
   width: 100%;
   padding-left: 49px;
   padding-right: 10px;
   padding-top: 8px;
   padding-bottom: 7px;
   font-size: 17px;
   background: transparent url("../img/.icon-search-red.png");
   background-position: 17px 11px;
   background-repeat: no-repeat;
   background-color: #ffffff;
}
.header-top .search a::before {
   content: "";
   position: absolute;
   top: 12px;
   left: 18px;
   width: 17px;
   height: 17px;
   background: transparent url("../img/sprite.png");
   background-position: -15px -244px;
   opacity: 0.3;
}
.search-item:hover  .search-click {
   display: block;
 }
.header-top .user-block {
   float: right;
}
.header-top .user-block ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.user-block ul li {
   display: inline-block;
}
.user-block li:last-child {
}
.user-block ul a {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}
.user-block ul .btn {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 9px;
  background: #63a63e;
}
.bookmark::before {
   content: "";
   position: absolute;
   top: 14px;
    left: 19px;
   width: 14px;
   height: 16px;
   background: transparent url("../img/sprite.png");
   background-position: -15px -61px;
   opacity: 0.3;
}
.bookmark:active {
   background: #161d29;
}
.bookmark:hover::before {
   opacity: 1;
}
.bookmark:active::before {
   opacity: 0.5;
}
.basket::before {
   content: "";
   position: absolute;
   top: 13px;
    left: 12px;
    width: 17px;
    height: 16px;
   background: transparent url("../img/sprite.png");
   background-position: -15px -15px;
   opacity: 0.3;
}
.basket:hover::before {
   opacity: 1;
}
.basket:active::before {
   opacity: 0.5;
}
.basket:active {
   background: #161d29;
}
.header-enter {
  margin-left: auto;
  margin-right: auto;
   padding-bottom: 24px;
}
.title-site {
   float: left;
   padding-top: 48px;
   margin-left: 52px;
   margin-right: 69px;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400;
   font-style: italic;
   color: #ee3643;
   width: 205px;
}
.header-contacts {
   float: left;
   padding-top: 38px;
   margin-right: 80px;
}
.header-contacts .phone {
  position: relative;
   font-size: 21px;
   line-height: 18px;
   font-weight: 400;
   color: #e9292a;
   padding-left: 67px;
   padding-bottom: 0px;
   margin-bottom: 18px;
}
.header-contacts .phone::before {
   content: "";
   position: absolute;
   top: 0;
   left: 8px;
   width: 19px;
   height: 19px;
   background: transparent;
   background-image: url("../img/.icon-phone.png");
}
.header-contacts .number-house {
   padding-top: 0;
   margin-top: 0;
   color: #32425c;
}
.header-enter .enter {
   float: left;
   padding-top: 58px;
}
.header-enter .enter a {
   display: inline-block;
   vertical-align: top;
   text-decoration: none;
   font-size: 21px;
   line-height: 18px;
   color: #333333;
}
.header-enter a:hover {
   color: #ee3643;
}
.header-enter a:active {
   color: #b2b2b2;
}
.header-enter .link-enter {
   padding-left: 52px;
   padding-right: 40px;
   position: relative;
}
.link-enter::before {
   content: "";
   position: absolute;
   top: 0;
   left: 20px;
   width: 20px;
   height: 17px;
   background: transparent url("../img/.icon-login.png");
   opacity: 0.3;
}
.link-enter:hover::before {
   opacity: 1;
}
.link-enter:active::before {
   opacity: 0.4;
}
.header-nav {
}
.enter a:last-child {
   padding-left: 17px;
   padding-right: 20px;
}
.header-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-left: auto;
   margin-right: auto;
}
.header-nav ul li {
   float: left;
   vertical-align: top;
   padding: 0;
   margin: 0;
}
.header-nav li:last-child{
   float: left;
}
.header-nav a {
   display: block;
   text-decoration: none;
   padding: 20px 30px;
   padding-right: 31px;
   font-size: 17px;
   line-height: 17px;
   color: #ffffff;
   background: #32425c;
   border-bottom: 5px solid #293449;
}
.header-nav a:hover {
   background: #293449;

}
.header-nav a:active {
   background: #1d2739;
   border-bottom: 5px solid #1d2739;
}
.header-nav li:first-child a {
   padding-left: 52px;
}
.header-nav li:last-child a {
   padding-right: 54px;
}
.wrapper {
   width: 960px;
   padding: 10px 120px;
   padding-top: 118px;
   margin-left: auto;
   margin-right: auto;
   background: #f1f5f7;
}
.row {
  background: #ccc;
}
.col {
   float: left;
   min-height: 50px;
   padding: 0px 10px;
   background: #999;
   box-sizing: border-box;
}
.catalog-item {
   display: block;
   padding-top: 20px;
   padding-bottom: 18px;
   padding-left: 22px;
   background: #000;
   /*min-height: 120px;*/
   margin-bottom: 20px;

}
.slider-item {
  display: block;
  position: relative;
   background: #fff;
   max-height: 266px;
   z-index: 1;
}
.slide-name {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.slide-name .title {
   font-size: 36px;
   line-height: 30px;
   font-weight: 700;
}
.catalog-item.yellow {
  position: relative;
   background: #f6b22d;
}
.catalog-item.yellow::before {
   content: "";
   position: absolute;
   top: 30px;
    left: 214px;
   width: 44px;
   height: 65px;
   background: transparent url("../img/backet.png")
}
.catalog-item.blue {
   position: relative;
   background: #4aafde;
}
.catalog-item.blue::before {
   content: "";
   position: absolute;
   top: 30px;
    left: 200px;
   width: 75px;
   height: 61px;
   background: transparent url("../img/drill.png")
}
.catalog-item.lilac {
   position: relative;
   background: #cc79d1;
}
.catalog-item.lilac::before {
   content: "";
   position: absolute;
   top: 30px;
    left: 194px;
   width: 78px;
   height: 62px;
   background: transparent url("../img/tractor.png")
}
.catalog-item.green {
   position: relative;
   background: #85d179;
   margin-bottom: 20px;
}
.catalog-item.green::before {
   content: "";
   position: absolute;
   top: 26px;
   left: 198px;
   width: 59px;
   height: 72px;
   background: transparent url("../img/bigcart.png")
}
.catalog-item.bigcar {
  position: relative;
   background: #f6b22d;
}
.catalog-item.bigcar::before {
   content: "";
   position: absolute;
   top: 26px;
   top: 33px;
   left: 191px;
   height: 63px;
   background: transparent url("../img/bigcar.png")
}


.s-1 {width: 8.33%;}
.s-2 {width: 16.66%;}
.s-3 {width: 25%;}
.s-4 {
  width: 33.33%;
}
.s-5 {width: 41.66%;}
.s-6 {width: 50%;}
.s-7 {width: 58.33%;}
.s-8 {width: 66.66%;}
.s-9 {width: 75%;}
.s-10 {width: 83.11%;}
.s-11 {width: 91.66%;}
.s-12 {width: 100%;}

.catalog-item .title {
   margin-bottom: 10px;
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   color: #ffffff;
}
.catalog-item .btn {
   display: inline-block;
   padding: 13px 27px;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   text-decoration: none;
   color: #ffffff;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.1);
}
.catalog-item .btn:hover {
   background: rgba(0, 0, 0, 0.2);
}
.catalog-item .btn:active {
   background: rgba(0, 0, 0, 0.3);
}




.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -15px -15px;
}

.sprite--icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -15px -61px;
}

.sprite--icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -15px -107px;
}

.sprite--icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -15px -155px;
}

.sprite--icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -15px -202px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -15px -244px;
}
